[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
awsebcli = "*"

[packages]
django = "==2.2.18"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
pipenv-to-requirements = "*"
sentry-sdk = "==0.13.5"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.7"
