{% load i18n %}
<footer class="w-full">
    <div class="flex border-t py-10">
        <div class="container mx-auto flex">
            <div class="container flex-1 text-gray-700 text-left px-1 py-2 m-2 border-r border-gray-200">
                <span class="font-medium text-gray-700 text-m">About Me</span>
                <ul class="pl-1">
                    <li>Name : Soo Hyun, Chae</li>
                    <li>Birthdate : 18, Feb, 1996</li>
                    <li>Country : Korea</li>
                    <li>Contact : cha2hyun.dev@gmail.com</li>
                </ul>
            </div>
            <div class="container flex-1 text-gray-700 text-left px-1 py-2 m-2 border-r border-gray-200">
                <span class="font-medium text-gray-700 text-m">My Career</span>
                <ul>
                    <li><i class="fas fa-school text-center" style="width:24px;"></i> Sangmyung University</li>
                    <li><i class="fas fa-building text-center" style="width:24px;"></i> Front-end Developer</li>
                    <li><i class="fas fa-code text-center" style="width:24px;"></i> Python, Java, HTML5</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="container flex-1 text-gray-700 text-left px-1 py-2 m-2 border-r border-gray-200">
                <span class="font-medium text-gray-700 text-m">About This Site</span>
                <ul class="pl-1">
                    <li>Concepts : Cloning Airbnb</li>
                    <li>Language : Python, Django, Tailwind</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="container flex-1 text-gray-700 text-left px-1 py-2 m-2">
                <span class="font-medium text-gray-700 text-m">Site Menu</span>
                <ul class="pl-1">
                    <li>My Reservations</li>
                    <li>Login</li>
                    <li>Logout</li>
                    <li>Signup</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mx-auto text-left pl-4 py-3 border-t font-light text-gray-500">
        <div class="felx flex-col">
            <span>
                {% trans "Please don't copy us." %}
            </span>
            <span>
                &copy; 2019 cha2hyun. {% trans "All rights reserved." %} 
            </span>
        </div>

        <div class="flex mt-10">
            <select class="w-1/5 h-8" id="js-lang">
                <option value="en">English</option>
                <option value="kr">Korean</option>
            </select>
        </div>

    </div>
</footer>