<ul class="flex items-center text-sm font-medium h-full">
    <li class="nav_link">
        {% if user.is_authenticated %}
            <a href="{% url "reservations:search" %}">Reservations</a>
        {% else %}
            <li class="nav_link"><a href="{% url "users:login" %}">Reservations</a></li>    
        {% endif %}
    </li>
    
    {% if user.is_authenticated %}
        <li class="nav_link"><a href="{{user.get_absolute_url}}">Profile</a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}">Logout</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">Login</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">Sign Up</a></li>
    {% endif %}
</ul>