container_commands:
 01_migrate:
  command: "django-admin migrate"
  leader_only: true
 02_compilemessages:
  command: "django-admin compilemessages"
 03_seed_user:
  command: "django-admin seed_users --number 50"
 04_seed_reviews:
  command: "django-admin seed_reviews --number 350"
 05_seed_avatar:
  command: "django-admin seed_avatars"

option_settings:
 aws:elasticbeanstalk:container:python:
  WSGIPath: config/wsgi.py
 aws:elasticbeanstalk:application:environment:
  DJANGO_SETTINGS_MODULE: config.settings
