container_commands:
 01_migrate:
  command: "django-admin migrate"
  leader_only: true
 02_compilemessages:
  command: "django-admin compilemessages"
 06_seed_facilities:
  command: "django-admin seed_facilities"
 07_seed_roomtypes:
  command: "django-admin seed_roomtypes"
 071_seed_amenities:
  command: "django-admin seed_amenities"
 08_seed_users:
  command: "django-admin seed_users --number 150"
 09_seed_rooms:
  command: "django-admin seed_rooms --number 250"
 10_seed_reviews:
  command: "django-admin seed_reviews --number 250"
 11_seed_lists:
  command: "django-admin seed_lists --number 250"
 12_seed_reservations:
  command: "django-admin seed_reservations --number 250"
 13_seed_avatar_delete:
  command: "django-admin seed_avatars"

option_settings:
 aws:elasticbeanstalk:container:python:
  WSGIPath: config/wsgi.py
 aws:elasticbeanstalk:application:environment:
  DJANGO_SETTINGS_MODULE: config.settings
