container_commands:
 01_migrate:
  command: "django-admin migrate"
  leader_only: true
 02_compilemessages:
  command: "django-admin compilemessages"
 06_seed_facilities:
  command: "django-admin seed_facilities"
 07_seed_roomtypes:
  command: "django-admin seed_roomtypes"
 071_seed_amenities:
  command: "django-admin seed_amenities"
 
option_settings:
 aws:elasticbeanstalk:container:python:
  WSGIPath: config/wsgi.py
 aws:elasticbeanstalk:application:environment:
  DJANGO_SETTINGS_MODULE: config.settings
